* {
    box-sizing: border-box;
    height: auto;
    width: auto;
  }


  @import url(https://fonts.googleapis.com/css?family=Raleway);
  body {
    margin: 0px;
  }


  .nav-2 {
    background: #5175C0;
    font-family: Raleway;
    padding: 20px;
    text-align: left;

  }
 
   .nav-3{
    background: #5175C0;
    text-align: right;
    font-family: Raleway;
    padding: 20px;

  }
  .nav-3 ul li{
    display: inline;
  }
  .nav-2 ul li{
    display: inline;
  }
  .logo {
    background: #5175C0;
    text-align: center;
    font-family: Raleway;
    padding: 20px;
  }
  .logo p{
    text-align: center;
    font-family: Raleway;
    font-size: large;
    font: outline;
    color: cornsilk;
  }
  .link-2 {
    transition: 0.6s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-right: 2px dotted transparent;
    padding: 30px 8px 0 10px;
    margin: 0 10px;
  }
  .link-2:hover {
    border-right: 2px dotted #ffffff;
    padding-bottom: 24px;
  }
  
/*  
.card-Preproject{background-color: blueviolet;}
.card-Initiation{background-color: blueviolet;}
.card-Planning{background-color: blueviolet;}
.card-Execution{background-color: blueviolet;}
.card-Closing{background-color: blueviolet;}
.card-Basic{background-color: blueviolet;} */

  /* .cards {
    display: flex;
  }
  .card {
    background: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
    transition: 0.2s;
  }
  .card:not(:first-child) {
    margin-left: -2rem;
  }
  .card:not(:last-child):hover,
  .card:not(:last-child):focus-within {
    transform: translateY(-1rem);
    .card {
      transform: translateX(2rem);
    }
  } */
   
    .style_prevu_kit
   {
       display:inline-block;
       border:0;
       width:196px;
       margin: auto;
       padding-left: 20px;
       padding-right: 20px;
       height:210px;
       position: relative;
       -webkit-transition: all 200ms ease-in;
       -webkit-transform: scale(1); 
       -ms-transition: all 200ms ease-in;
       -ms-transform: scale(1); 
       -moz-transition: all 200ms ease-in;
       -moz-transform: scale(1);
       transition: all 200ms ease-in;
       transform: scale(1);   
       margin-top: 40px;
text-align: center;
   } 
    .style_prevu_kit:hover
   {
       box-shadow: 0px 0px 150px #000000;
       z-index: 2;
       -webkit-transition: all 200ms ease-in;
       -webkit-transform: scale(1.5);
       -ms-transition: all 200ms ease-in;
       -ms-transform: scale(1.5);   
       -moz-transition: all 200ms ease-in;
       -moz-transform: scale(1.5);
       transition: all 200ms ease-in;
       transform: scale(1.1);
       
   } 

   .section-boxs{
background-color: rgb(18, 35, 71);
    padding-bottom: 30px;
    margin-top: 30px;

    margin-bottom: 40px;
    border-radius: 30px;

    text-align: center;
   }
  .section-boxs a {
    text-align: center;
    color: cornsilk;
    border-radius: 30px;
  }
.section-boxs :hover{
  background-color: rgb(50, 81, 150);


}
/* #logo-1{
  width: 30px;
  height: 30px;
} */

.allcontainer{
	background-color: #ecf0f1;
}
.project-charter{
	background-color: #21778d;
	margin: 20px;
	font-family: Arial, Tahoma; 
	font-size: 20px; 
	color: #7c0e0e; 
  text-align: center;	  
  border-radius: 30px;
}
.stakeholder-managementplan{
	background-color: #0a2c75;
	margin: 20px;
	font-family: Arial, Tahoma; 
	font-size: 20px; 
	color: #7c0e0e; 
  text-align: center;	  
  border-radius: 30px;}
.statemnt-of-work{
	background-color: #8098cc;
	margin: 20px;
	font-family: Arial, Tahoma; 
	font-size: 20px; 
	color: #7c0e0e; 
  text-align: center;	  
  border-radius: 30px;
}




   .cssGrid{


    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "nav-2 logo nav-3"
    "section-boxs section-boxs section-boxs"
    "card-Preproject card-Initiation card-Planning"
    "card-Execution card-Closing card-Basic";

}

.nav-2{grid-area: nav-2;}
.nav-3{grid-area: nav-3;}
.card-Preproject{grid-area:card-Preproject;}
.card-Initiation{grid-area:card-Initiation;}
.card-Planning{grid-area:   card-Planning;}
.card-Execution{grid-area:  card-Execution;}
.card-Closing{grid-area:   card-Closing;}
.card-Basic{grid-area:   card-Basic;}
.section-boxs{grid-area:   section-boxs;}
.logo{grid-area:   logo;}

